# Kling (可灵) API - https://klingai.com
KLING_ACCESS_KEY=<your_kling_access_key>
KLING_SECRET_KEY=<your_kling_secret_key>
KLING_BASE_URL=https://api-beijing.klingai.com/v1

# Seedance (字节 Seedance) API - https://console.volcengine.com
SEEDANCE_API_KEY=<your_seedance_api_key>
SEEDANCE_BASE_URL=https://ark.ap-southeast.bytepluses.com/api/v3
