# Kling (可灵) API - https://app.klingai.com/global/dev/document-api
# 注意: api.klingapi.com 是第三方站点，不要使用
KLING_ACCESS_KEY=<your_kling_access_key>
KLING_SECRET_KEY=<your_kling_secret_key>
# 中国: https://api-beijing.klingai.com/v1  全球: https://api.klingai.com/v1
KLING_BASE_URL=https://api-beijing.klingai.com/v1

# Seedance (字节 Seedance) API - https://www.volcengine.com/docs/82379/2298881
SEEDANCE_API_KEY=<your_seedance_api_key>
# 中国(火山引擎): https://ark.cn-beijing.volces.com/api/v3
# 国际(BytePlus): https://ark.ap-southeast.bytepluses.com/api/v3
# 注意: 火山引擎模型名需加 doubao- 前缀，如 doubao-seedance-1-0-pro-250528
SEEDANCE_BASE_URL=https://ark.cn-beijing.volces.com/api/v3

# 机杼 ComfyUI 专用接口（正式、QA 分别填写对应环境的地址和机器 Key）
JIZHU_API_BASE_URL=<jizhu api base url>
JIZHU_COMFY_API_KEY=<comfyui machine key>
